.lunax--tabs .tabs-content-wrapper,
.lunax--tabs .content {
    flex: 1;
}

.lunax--tabs .icon {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background: #ddd;
    flex-basis: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.lunax--tabs .tab-title.active .icon,
.lunax--tabs .tab-title:hover .icon {
    background: #C8F31D;
}


.lunax--tabs p {
    margin: 0;
}

.wdb--tabs.lunax--tabs  .tab-title {
    align-items: flex-start;
}

.wdb--tabs.lunax--tabs .tab-title  {
    background-color: transparent;
    border-left: 1px solid #ddd;
}

.elementor-widget-lunax--tabs.wdb-tabs-direction-row .tabs-wrapper,
.elementor-widget-lunax--tabs.wdb-tabs-direction-row-reverse .tabs-wrapper {
    flex-direction: column
}

.elementor-widget-lunax--tabs.tabs-alignment-stretch .tab-desktop-title {
    flex: 1 1 auto
}

@media (max-width: 1024px) {
    .elementor-widget-lunax--tabs.wdb-tabs-tablet .tabs-wrapper {
        display: none;
    }
}

@media (max-width: 767px) {
    .elementor-widget-lunax--tabs.wdb-tabs-mobile .tabs-wrapper {
        display: none;
    }
}

@media (min-width: 768px) {
    .elementor-widget-lunax--tabs.wdb-tabs-mobile .tab-mobile-title {
        display: none;
    }
}

@media (min-width: 1025px) {
    .elementor-widget-lunax--tabs.wdb-tabs-tablet .tab-mobile-title {
        display: none;
    }
}
